<div class="row-fluid">
  <div class="span4">
    <div class="movie_poster pull-left"><%= image_tag(@movie.poster) %></div>
  </div>
  <div class="span8">
    <h3><%= @movie.title %></h3>
    <p>Year: <%= @movie.year %></p>
    <p>Release Date: <%= @movie.release_date %></p>
    <p> Director(s):
      <% @movie.director.each do |director| %>
        <%= director %>
      <% end %>
    </p>
    <p>Plot: <%= @movie.plot %></p>
    <p>Length: <%= movie_length %></p>
    <p>MPAA Rating: <%= @movie.mpaa_rating %></p>
    <p>
      Movbie Rating: <%= number_to_percentage @movie.rating, precision: 0 %>
      <%= vote_up_button %>
      <%= vote_down_button %>
    </p>

    <ul class="cast-list">
      <h4>Cast List:</h4>
      <% @movie.actors.each do |actor| %>
        <li><%= link_to actor.name, actor_path(actor) %></li>
      <% end %>
    </ul>

    <p>Added: <%= movie_added_time %> ago</p>
    <p>Last voted: <%= movie_last_voted_time %> ago</p>
  </div>