<div class="well">
  <div class="center">
    <h2>Search Favorite Movies by Year</h2>
    <form action="/search_year" method="get">
      <input type="string" name="year" autofocus>
      <button class="btn btn-info">Go!</button>
    </form>
  </div>
  <% if @year %>
    <h4>List of All Your Favorites</h4>
    <div class="row-fluid">
    <% if @multiple_movies %>
      <% @multiple_movies.each do |movie| %>
        <div class="span3 movie_list">
          <div class="movie_title">
            <h5><%= link_to movie.title, each_movie_path(movie) %></h5>
          </div>
          <div class="movie_poster_thumbnail">
            <%= image_tag(movie.poster) %>
          </div>
        </div>
      <% end %>
    <% elsif @single_movie %>
      <div class="span3 movie_list">
        <div class="movie_title">
          <h5><%= link_to @single_movie.title, each_movie_path(@single_movie.id) %></h5>
        </div>
        <div class="movie_poster_thumbnail">
          <%= image_tag(@single_movie.poster) %>
        </div>
      </div>
    <% else %>
      <%= @error %>
    <% end %>
    </div>
  <% end %>
</div>